# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and Install directories
build/
install/
log/

# Python files
*.pyc
__pycache__/

# C++ files
*.o
*.a
*.so
*.lib
*.dll
*.exe

# Backup files from text editors and IDEs
*~
*.swp
*.swo
*.user
*.suo
*.sublime-*
.vscode/

# Package files
*.db

# Gazebo files
*.state
*.log

# Other files and directories to ignore
.DS_Store
._*
*.bak
*.cfg
*.pcd
*.rviz
*.urdf
*.xacro
*.dae
*.stl
*.blend
*.bmp
*.xcf
*.xcf.gz
*.xcf.bz2
*.xcf.bz
*.xcf.bzip
*.xcf.bzip2
*.xcf.gzip
*.xcf.lz
*.xcf.lzma
*.xcf.lzo
*.xcf.xz
*.xcf.Z
*.xcf.7z
*.xcf.7zip
*.xcf.rar
*.xcf.tar
*.xcf.tar.bz2
*.xcf.tar.gz
*.xcf.tar.lz
*.xcf.tar.lzma
*.xcf.tar.lzo
*.xcf.tar.xz
*.xcf.tar.Z
*.xcf.t7z
*.xcf.tbz2
*.xcf.tgz
*.xcf.tlz
*.xcf.tlzma
*.xcf.tlzo
*.xcf.txz
*.xcf.tZ
*.xcf.zip
*.xcf.zipx
*.xcf.zst
*.xcf.zstd
*.xcf.z
*.xcf.z2
*.xcf.z3
*.xcf.z4
*.xcf.z5
*.xcf.z6
*.xcf.z7
*.xcf.z8
*.xcf.z9
*.xcf.z10